* {
    box-sizing: border-box;
}

html, body {
    height:100%;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type="submit"]{
    border:none;
    background:mediumvioletred;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=number] {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    float: left;
}

input[type=date] {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    float: left;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.center {
    margin: auto;
    position: relative;
    text-align: center;
    top: 10%;
    width: 50%;
}

.back_button {
    background-color: mediumvioletred;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

thead {
    background-color: mediumvioletred;
    color: white;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

table {
    border: 1px solid black;
}


tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

