<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://java.sun.com/xml/ns/persistence/orm" xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: 'header'"></head>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/admin.css" type="text/css">
    <title>Admin panel</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
<div class="center">
    <table dt:table="true">
    <h2>Admin panel</h2>

    <p>
    <input type="submit" value="User management"
       onclick="window.location='/user_administration';" />
    </p>
        <p>
    <input type="submit" value="Course management"
       onclick="window.location='/course_administration';" />
        </p>
    <input type="submit" value="Lecture management"
       onclick="window.location='/lecture_administration';" />

    </table>
</div>
</div>
</body>
</html>