<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User management</title>
</head>
<body>
    <h2>Add new user</h2>
    <form action="/add_user" method="post" id="user">
        First name: <input type="text" name="fname"
                           required><br>
        Last name: <input type="text" name="lname" required><br>
        email: <input type="email"
                      name="email" required><br>
        Role: <select required name="userRole">
                    <option value=1 selected="selected">Student</option>
                    <option value=2>Teacher</option>
                    <option value=3>Admin</option>
            </select><br><br>
        <input type="submit" value="Submit">
        <input type="submit" value="Cancel"
               onclick="window.location='/user_administration';" />
    </form>
    <br>
    <br>
    <h2>Delete an existing user</h2><br>
    <form action="/delete_user" method="post" id="delete_user">
        Email: <input type="email"
                      name="deleteByEmail" required><br>
        <input type="submit" value="Delete">
        <input type="submit" value="Cancel"
               onclick="window.location='/user_administration';" />
    </form>
    <br><br>


    <br>
    <br>

    <input type="submit" value="Back"
           onclick="window.location='/admin_panel';" />

</body>
</html>