<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:dt="http://java.sun.com/xml/ns/persistence/orm">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <title>Confirmation</title>
</head>
<body>
<div class="center">
    <img src="/success.jpg" alt="Mountain View" width="250" height="250">
        <h1>You have submitted your code succesfully</h1>
        <button class="back_button"><a href="/" style="text-decoration: none; color: white">Back</a></button>
</div>
</body>
</html>