<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:dt="http://java.sun.com/xml/ns/persistence/orm">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <title>Error</title>
</head>
<div>
    <body class="center">
    <img src="/warning.png" alt="Mountain View" width="250" height="250">
    <h1>We were not able to confirm your attendance</h1>
    <h1>You are not using KEA's netwprk</h1>
    <h1>Please try again</h1>
    <button class="back_button"><a href="/todays_students_lectures" style="text-decoration: none; color: white">Back</a></button>
    </body>
</div>
</html>